[2013-09-23 07:15] stonier opened #1 "Use maven-publish in the android plugin"
We currently have to fallback to old maven publishing using uploadArchives with android (see [here](http://www.flexlabs.org/2013/06/using-local-aar-android-library-packages-in-gradle-builds), especially the comments section for reasons why it won't currently work).

This means we can't match what we are doing with rosjava, nor even think about debs for it yet. Debs are a no-show anyway because the

[2013-09-24 20:07] chadrockey opened #2 "Time class does not follow getter/setter of other messages"
@damonkohler @stonier

It looks like here at the Time (and Duration) classes that the method to access secs and nsecs does not follow the same pattern as for the rest of the messages:
https://github.com/rosjava/rosjava_bootstrap/blob/hydro/message_generation/src/main/java/org/ros/message/Time.java#L43

It looks like the old way, not the new "getSecs(), getNSecs(), setSecs(0)" method.  So when you

[2013-09-24 20:14] chadrockey opened #3 "How are unsigned integers being stored in rosjava messages?"
@damonkohler @stonier

It looks like uint32 and uint64 are being stored in the same integers as their signed counterparts: int and long.  Can anyone confirm that's the case?

https://github.com/rosjava/rosjava_bootstrap/blob/hydro/message_generation/src/main/java/org/ros/internal/message/RawMessage.java#L112

Java doesn't have unsigned integers, so at the very least uint16 should be stored in an '

[2013-09-24 21:00] chadrockey commented on #3
Looks like this is the case with time as well:
Represented in C++ as uint32_t:
http://docs.ros.org/api/rostime/html/classros_1_1TimeBase.html
And in ROSJava as int: (32 bit signed):
https://github.com/rosjava/rosjava_bootstrap/blob/hydro/message_generation/src/main/java/org/ros/message/Time.java#L43

@damonkohler You're on a deadline to resolve this issue within the next 25 years.
http://en.wikipe

[2013-09-26 08:56] stonier commented on #2
Certainly would be more consistent.

[2013-09-27 01:41] stonier opened #4 "First class ros message generator for Java"
We're not far off being able to do this I think.

We'd just have to use the code in here (message_generation) and write our own gengava generator which dumps artifacts in xxx/share/maven.

Compare with [genpy](https://github.com/ros/genpy) and [gencpp](https://github.com/ros/gencpp).

[2013-10-22 13:51] stonier opened #6 "Be careful naming maven aar artifacts"
This is just a placemarker with some explanation, until they fix the android gradle plugin.

Currently your trailing name has to be unique, i.e.

[code]

wont work. More explanation in https://groups.google.com/forum/#!msg/adt-dev/9FKfZspL8mg/FPBkiUYW6x0J

Close this once we know its working.

[2013-10-22 13:59] stonier commented on #4
https://github.com/ros/message_generation/issues/1#issuecomment-26779772

[2013-10-22 16:09] stonier opened #7 "Backport gradle-studio upgrades to hydro"
Backport #5 to the hydro branch after some testing.

See also https://github.com/rosjava/rosjava_build_tools/issues/7

[2013-10-26 06:32] stonier commented on #7
6a06f755c09e76acb7e0a4fc6bf613185cb2d6f0
b247a60473f2f5504291c8ae6c9d3b6f757f62c4

[2013-10-26 06:32] #7 closed, assigned to stonier

[2013-11-09 05:46] stonier opened #10 "Unofficial messages fail to build when there are dependencies"
The catkin gradle plugin logic fails when an unofficial message build is building for a package that has message dependencies itself (needs external, not internal depdendencies).

https://groups.google.com/forum/#!topic/ros-sig-java/M70rJHlf63o

[2013-11-09 05:47] stonier commented on #10
Fixes in hydro: 02aef3d8da52da6d92ce75f61270ea7eb9e5ecbe and https://github.com/rosjava/rosjava_build_tools/commit/2f0e5c614fef5581204281fae1a89f6fdeeada03

[2013-11-09 05:50] #10 closed, assigned to stonier

[2013-12-08 01:36] stonier opened #12 "Unofficial artifacts failing when depending on sister subprojects"
The unofficial artifact generator code for custom messages is trying to depend on external artifacts. This is ok for single projects. But fails is you start filling up a project with message artifact generating subprojects.

[2013-12-08 01:37] stonier commented on #12
Key problem is here in the catkin plugin:

[code]

This is adding an external dependency, which will fail if you need to look inside subprojects in the same build.

[2013-12-08 02:15] stonier commented on #12
Bugfixed for hydro in 6368c64d4542edb66084c6ad470fa59994c09ab4, released debs and maven artifacts for v0.1.13.

[2013-12-08 10:29] stonier opened #14 "Message generation bombs for multiple package versions"
**Problem**: If there's a deb installed version of a package and a source installed version, it will sometimes pull the older version.

**Reason**: message generation's StringFileProvider stores information in a google concurrentmap (hashmap) which provides no guarantees about ordering. When generating sources, it will then ignore the second message file found in that map...A comment from MessageD

[2013-12-08 10:30] stonier commented on #14
Need something that will read catkin package information...I used to have some java code lying around that did this.

Probably easiest place to insert it is where that comment is.

[2013-12-10 15:51] stonier commented on #14
Easier solution, just narrow the scope of the package path to the package with the newer version. The catkin-gradle plugin is already close to getting that data, just feed that to the message generator.

Longer term, it would be good if message generation parsed over a catkin package database, which could additionally check for message generation dependencies instead of making assumptions such as

[2013-12-24 01:47] stonier opened #15 "Android gradle plugin minimum now 0.7"

[2013-12-24 04:51] dwlee commented on #15
I used the gradle plugin version 0.7.0. But the error occurs.
How do we use minimum 0.7.1?
http://stackoverflow.com/questions/20673625/android-gradle-plugin-0-7-0-duplicate-files-during-packaging-of-apk

[2014-02-09 04:00] stonier opened #16 "Message Headers missing dependency information"
It appears that published messages are missing the message definition for the child types which is used for message introspection.

https://github.com/ros/common_msgs/issues/20

[2014-02-18 10:08] stonier opened #20 "Updates to rosjava message generation"
Comparison of changes/updates needed between PR's #13 and #18.  Both hit the transitive dependency issue and what's in #18 is great, it's cleaner.
- [x] update the catkin_create wizard [template](https://github.com/rosjava/rosjava_build_tools/blob/master/src/rosjava_build_tools/templates/rosjava_msg_project/build.gradle.in) with the updated msg generation api.
- [x] update rosjava_messages' build.

[2014-02-18 10:11] stonier commented on #20
I can help attack these and make sure all the sources are working on master. Let's talk early next week.

[2014-05-18 14:46] valentinp commented on #16
Has there been any progress on this bug? This is particularly annoying for collecting rosbags from Android devices.

[2014-05-19 00:13] stonier commented on #16
Rosjava is mostly following a _scratch that itch_ development cycle at the moment. Those of us who are scratching itches right now are working at companies and can commit time to fixes where we need it or can justify it. We don't have a need for this one at our company (yet), so it's on the todo...unless someone else gets a terrific urge to scratch this itch ;)

It's probably not too hard to fix -

[2014-06-09 02:06] stonier commented on #15
Some discussion and workarounds for the packaging problem in https://github.com/rosjava/android_core/issues/200.

[2014-06-09 02:06] #15 closed, assigned to stonier

[2014-06-09 02:08] stonier opened #30 "Android studio 0.6 upgrades"
Requires:
- sdk build tools version 19.1
- android gradle plugin 0.11.+

[2014-06-09 02:08] stonier commented on #30
- 5d4d2a0a4f6bc59f9a266e18f6e65a3a61916be5
- 35b8d315de7973a7263a6f0224d729a1878f1779

[2014-06-09 02:08] #30 closed, assigned to stonier

[2014-06-22 15:37] #14 closed, assigned to stonier

[2014-06-26 11:57] stonier commented on #4
There are alot of ways we could do this, however it's important to note that rosjava has quite a few workflows that would be interesting to supoport. This constrains what is possible.

**Standard Style**

Create a genjava package that hooks into message_generation and genmsg to automatically build
artifacts along with cpp/python/lisp.
- Compared with genpy, gencpp, java requires a compile step, th

[2014-06-26 11:59] stonier commented on #4
I actually have an installation of the former (genjava) running [here](http://wiki.ros.org/rosjava/Tutorials/indigo/Source%20Installation) for testing. Seems to work quite well with little lag so long as the gradle demon is used. Note that you have to include any and all msg packages in the rosjava workspace. I'm working on a script to autogenerate from an installed ROS_PACKAGE_PATH to make things

[2014-06-27 01:05] stonier commented on #4
Another topic to bring into this here is the idea of automatically updating the maven repo from a job on OSRF's build farm...

[2014-06-27 07:13] stonier commented on #4
Am convinced that genjava is the right way to go.

1) Catkin feeds you exactly which messages are to be built and which are just lying around
2) Catkin also feeds you exactly the transitive dependencies each message needs
3) Rebuilds will occur on the fly whenever a single message is changed.

Any solution outside of this will either end up reinventing alot of this or doing alot of redundant proce

[2014-06-27 07:16] stonier commented on #4
The current genjava implementation uses message_generation's bulk generator - i.e. it builds messages at the package level (i.e. all messages for a package at once). Need to implement a function that does this file by file as it fits better with genxxx's workflows and also enables us to pick up transitive dependencies. Currently we can't pick up the transitives because our processing occurs at the

[2014-06-29 04:04] stonier opened #34 "Bad version checking in the catkin plugin"
Fix the bad version number checking pointed to by the TODO message in 3ee1817d54a150279c3fd489ce454979c5986c50, it will break going from 9 -> 10.

[2014-06-29 04:04] stonier commented on #20
Created a new issue for the last one in #34

[2014-06-29 04:04] #20 closed, assigned to stonier

[2014-06-29 04:28] stonier commented on #16
To summarise the discussion in the issue posted on common_msgs, a likely source is that the `message_definition` field specified in [TCPROS Specification](http://wiki.ros.org/ROS/TCPROS) is not providing the dependencies definition as well as the msg definition (should exactly match a `rosrun roslib gendeps --cat _msg_file_`).

[2014-06-29 04:30] #12 closed, assigned to stonier

[2014-10-30 05:47] DmitryDzz opened #37 "After publishing my Android app on Google Play I've got "Supported devices 0" warning"
In the app's details in Google Play developer console there was a message: "Native platforms: commons-codec-1.8.jar, commons-io-2.4.jar, commons-lang-2.6.jar".

[2015-02-11 12:38] stonier opened #40 "Revise maven repository dependencies"
Revise our maven url sources in the [ros plugin](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/gradle_plugins/src/main/groovy/org/ros/gradle_plugins/RosPlugin.groovy#L21) @talregev is using the list below. I do not believe we need to add the rep.maven.xxx or central.maven.xxx - these should be automatically picked up by `mavenCentral()`. The jfrog is the standout one there - what is in

[2015-02-11 13:06] talregev commented on #40
from jforg we can pull all the jars dependencies:
this dependencies alredy was in ours github maven repository so i added this links that it will update from here and not from github.

http://repo.jfrog.org/artifactory/libs-releases/org/apache/commons/com.springsource.org.apache.commons.codec/
http://repo.jfrog.org/artifactory/libs-releases/org/apache/commons/com.springsource.org.apache.commons.ht

[2015-02-12 02:09] stonier opened #41 "Pull in non-api settings via url instead of plugin"
This is more visible for the users - they can easily follow the link and see what versions, maven url's...etc are getting used. That then helps them collaborate.

Example and discussion at https://github.com/rosjava/zeroconf_jmdns_suite/pull/43.

[2015-02-16 12:53] vrabaud opened #42 "FYI: gradle 2.3 released"
https://services.gradle.org/distributions/

It's just FYI, no idea on whether you guys keep track of that closely

[2015-02-18 05:13] stonier commented on #41
This is actually potentially very slow. Gradle doesn't cache external script plugins yet (see [here](http://stackoverflow.com/questions/11080247/caching-external-build-script-for-offline-use)) and we would be calling this quite alot.

Better is still the binary plugin. We should just provide a more informative github link to where they can see what should be edited and where.

[2015-02-18 05:24] stonier commented on #41
@talregev fyi

Example comment: https://github.com/rosjava/rosjava_core/commit/8c883f608fb185e51f904004504ca355f5f0411a

[2015-02-18 05:24] #41 closed, assigned to stonier

[2015-02-18 05:25] stonier commented on #42
Usually we update whenever android studio forces us...i.e. it often sets a minimum dependency requirement. This applies to the android stacks only of course, but it's good to have the rosjava stacks in sync.

[2015-02-18 05:26] stonier commented on #42
I just swept through the rosjava stacks and updated them to 2.2.1 last week. Will update to 2.3 if android studio needs it (just freshly downloaded).

[2015-02-19 12:26] talregev commented on #40
it better to switch to apache.directory.studio instead com.springsource.org
like @DmitryDzz has done in his [fix](https://github.com/robot-mitya/rosjava_bootstrap/commit/d7787f5b85967a8e81f0d4e5952b1c5c84f7028f)

i will write down the links again:
- http://central.maven.org/maven2/org/apache/directory/studio/org.apache.commons.codec/
- http://central.maven.org/maven2/org/apache/directory/studio/or

[2015-02-20 14:36] stonier commented on #40
Started migration in [rosjava_bootstrap](https://github.com/rosjava/rosjava_bootstrap/commit/1457c852bad8cd1b3ac480f395648ef94c2f1b2f). Will hold off on the others for now till we're sure it's all working.

Also - rosjava_core is a problem - `org.apache.commons.net` isn't in the directory studio group.

[2015-02-20 15:11] talregev commented on #40
can you add this links to [manven repository](https://github.com/rosjava/rosjava_mvn_repo)?

[2015-02-20 15:17] talregev commented on #40
make sure after that migration, android_core still compile.
I try to do this, and i get an conflict with old jar: com.springsource.org.apache.commons.codec:1.3.0

[2015-02-20 15:58] stonier commented on #40
Ah, this thing:

[code]

[2015-02-20 16:05] talregev commented on #40
yes :)
need to understand how get rid of this.
I try also compile javaros_core with new jars apache.directory.studio dependencies too but it didn't help.

I think need also to re-create all the messages and rosjava_messages with new dependencies

can you check it?

If you succeeded that will be great. and you will need to update maven_repository sooner that you thought. can

can you ask @DmitryDzz

[2015-02-20 16:06] talregev commented on #40
i added you on gtalk. so if you available to talk ....

[2015-02-20 16:13] DmitryDzz commented on #40
I've been watching you 8-)
I didn't try to solve this issue. My project is on hold for a while. I believe I'll come back in a month. Sorry.

[2015-02-20 16:16] talregev commented on #40
it ok :)

[2015-02-23 09:49] talregev commented on #37
you can't publish your app?

[2015-02-23 09:50] talregev commented on #37
codec-1.8.jar, commons-io-2.4.jar and commons-lang-2.6.jar are dependents on the libraries your wrote, and not for spring library.

[2015-02-23 10:13] DmitryDzz commented on #37
Oh, seems like I didn't close the issue...
I could publish my app. But it was visible for 0 devices :)
I think I've [solved](https://github.com/rosjava/rosjava_bootstrap/pull/38) this issue. And I've published the app after this fix. Now it is visible for most of devices on Google Play market.

[2015-02-23 10:13] #37 closed, assigned to nobody

[2015-02-23 10:14] talregev commented on #37
How i can see for how many devices is visible?

[2015-02-23 10:20] talregev commented on #37
I Publish my app without your fix, and I can install on all my devices.
Is there other way to see which support devices for my app?

[2015-02-23 10:29] DmitryDzz commented on #37
I saw that in my Google Play Developer Console. Take a look at "APK" tab. There's "Supported devices" field. Before I fixed the issue it was zero but at the same time I could install the apk on all my devices using adb. I couldn't do that from Market. The fix solved Market installation.

[2015-02-23 10:33] talregev commented on #37
if you do this fix, how you solve the duplicate multi-dex on android_core?
Your fix maybe fit to your app, but it get a lot of work to ROS, and other ros app that compile with android_core, don't need that fix and can freely publish and support many devices.

[2015-02-23 10:35] talregev commented on #37
Thanks for the tip, I can see my app supported a 7266 devices.

[2015-02-23 10:40] DmitryDzz commented on #37
Well... that's strange. I could build android_core after the fix. May be something changed since that time... It's great that your app is supported by other devices without this fix. Ok, can you rollback the changes? I'm afraid I'm too far from the project right now.

[2015-02-23 10:41] talregev commented on #37
we already rollback your change. you can look on the commits.

[2015-02-23 10:42] talregev commented on #37
sorry for time consume :)

[2015-02-23 10:43] DmitryDzz commented on #37
Oh, that's great. Thanks! :)

[2015-02-23 10:47] talregev commented on #40
you can close this issue:
https://github.com/rosjava/rosjava_bootstrap/issues/37

[2015-02-24 03:47] stonier opened #46 "No default maven repository set in the plugin"
Looks like we have a bug in the [ros plugin](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/gradle_plugins/src/main/groovy/org/ros/gradle_plugins/RosPlugin.groovy).

When there aren't any environment variables (windows), the system getenv calls return null, wiping out the defaults that were set in the extension [constructor](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/gradle

[2015-02-24 03:50] talregev opened #47 "update gradle version from the internet."
i ask already in [stackoverflow](http://stackoverflow.com/questions/28661192/gradle-wrapper-properties-file-from-url/28666861#28666861).

i ask again too.
We want be able to update gradle version from the internet. when we change one or two file, all the projects will compile on the new gradle. it save us a lot of work.

start it [here](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/grad

[2015-02-24 04:14] stonier commented on #46
@talregev reopen this one if windows continues to be a problem.

[2015-02-24 04:14] #46 closed, assigned to nobody

[2015-02-24 04:18] talregev commented on #46
can you add a minor version for bootstrap, compile, and upload to maven_repo?
it will make the check more easy. :)

[2015-02-24 08:47] talregev commented on #47
any suggestions?

[2015-02-24 17:15] stonier commented on #47
Actually...I think it is probably better to do it the hard way for now. Gradle is changing fast and java/android users are different. Java people are happy to use an old gradle, android people have to be on the bleeding edge.

That PR for gradle 2.4 should ultimately make things much easier too.

[2015-02-24 17:17] stonier commented on #46
[rosjava_bootstrap 0.2.1](https://github.com/rosjava/rosjava_mvn_repo/tree/master/org/ros/rosjava_bootstrap/gradle_plugins/0.2.1) is in the maven repo.

[2015-02-24 18:26] talregev commented on #46
thanks! :+1:

[2015-02-24 18:27] talregev commented on #47
Are you ready for upgrade all project to gradles 2.3? :)

[2015-02-25 03:10] stonier opened #48 "hydro message dependencies muddled with indigo"
Hydro uses this function from the catkin plugin:

[code]

Obviously, the open ended dependency is now bad as it will drag indigo released messages into the build.

Indigo doesn't have this problem as it generates exact version dependencies from one message package to another.

[2015-02-25 05:21] stonier commented on #47
Not yet. We don't have a _need_ yet and I'd like to have it released first and then users given some time to report problems so we can get it stable.

Then would be a good time to do some more experimentation...i.e. once we know the base is solid.

[2015-02-25 05:22] stonier commented on #47
Im also running out of time :neckbeard:

[2015-02-25 07:37] talregev commented on #47
how goes with android_core bugs?

[2015-02-25 12:26] stonier commented on #47
[Solved](https://github.com/rosjava/android_remocons/issues/67) and [solved](https://github.com/rosjava/android_core/issues/231). Not worrying about [this one](https://github.com/rosjava/android_core/issues/232).

[2015-02-25 12:28] talregev commented on #47
nice!! :+1:

[2015-03-01 02:49] talregev opened #49 "add to RosAndroid.groovy maven repositories"
add to [RosAndroid.groovy](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/gradle_plugins/src/main/groovy/org/ros/gradle_plugins/RosAndroid.groovy) maven repositories:

[code]

like [RosPlugin.groovy](https://github.com/rosjava/rosjava_bootstrap/blob/indigo/gradle_plugins/src/main/groovy/org/ros/gradle_plugins/RosPlugin.groovy)

[2015-03-04 12:36] talregev commented on #49
@stonier

[2015-03-06 05:00] talregev commented on #47
I found a way to update gradle version from the internet.
on each project need to be add:
instated of

[code]

it need to be write:

[code]

and add to default task on build.gradle on main project:

[code]

add to CMakeLists.txt

[code]

only on the **SECOND** compilation it will be compile on the latest gradle.

@stonier
should we try it?

[2015-03-06 05:15] stonier commented on #47
@talregev seems to me that it will add another 'online' dependency and slow the build down. Trying to avoid both of these.

Should only need to run the gradle wrapper once in a blue moon, not every time.

[2015-03-06 05:19] talregev commented on #47
ok.

but if we want to change gradle version in massive way through change only one text file, that one way to do it.

[2015-03-06 05:20] talregev commented on #47
how it going the rest of the projects?
It is getting stabilize?

[2016-04-26 06:48] samuelba opened #52 "custom messages with fixed-length arrays are received in rosjava as an empty array"
As already written in `rosjava_core` https://github.com/rosjava/rosjava_core/issues/221, but I guess here ist the right place.

I discovered an issue with messages containing an array with a fixed (predefined size).

Message example that is not working:

[code]

Message example that is working:

[code]

If I subscribe in rosjava (Android) to the first message, I always get an empty `names` array w

[2016-12-16 14:15] adamantivm opened #54 "Make buildscript pointer release agnostic"
all So that we don't need to change the build scripts of all projects with each release.

Citing the wise @stonier:

[2016-12-26 13:41] adamantivm commented on #1
This issue is broader than that, since there are currently some inconsistencies that would be nice to improve:
 - The `kinetic` branch is using the `maven-publish` plug-in for the ros-java plug-in but the `maven` for the android plug-in. This causes projects to behave differently and use different deploy targets.
 - In addition, the `master` branch [had been reverted](https://github.com/rosjava/ro

[2016-12-26 15:26] stonier commented on #1
Does the new maven-publish plug-in work for android yet?

[2016-12-26 18:59] adamantivm commented on #1
online reports are mixed. I would guess that by now it must be fully supported.
My plan is, once I am done with a pass with everything working and all other important parts done to:
 - See if we can effectively switch to the `publish`
 - See if we can migrate the android plug-in to use this as well

[2016-12-28 18:20] adamantivm commented on #1
Some updates. TL;DR: we still can't use maven-publish for the Android projects.

I asked the Android Gradle experts and they confirmed it is not yet working and that the maven-publish plug-in continues to be incubating despite a few years now having gone by.
Nonetheless, they also mentioned that there are upcoming updates both from the Gradle maven developers and from the Android Gradle developers

[2016-12-29 00:59] stonier commented on #1
Aye, I've had problems with hacks before that don't resolve transitive dependencies in the pom.xml (mailing list archived message is [here](https://groups.google.com/forum/#!topic/adt-dev/eCvbCCZwZjs)).

Just repeating what I had in the email so we have a reference here. The only thing that should be a concern is publishing to maven local would cause a problem:

* Publish source generated artifact

[2017-03-29 14:54] adamantivm commented on #52
Working with @ernestmc on a project we found this issue with uint8 arrays and provided a fix in #59
I ran out of time with that, but would greatly appreciate validation, improvement and maybe porting to other types that suffer from the same.

[2017-11-20 18:59] tfoote opened #61 "Build is failing on debian Jessie due to SSL issues"
http://build.ros.org/view/Kbin_dj_dJ64/job/Kbin_dj_dJ64__rosjava_bootstrap__debian_jessie_amd64__binary/30/console

[code]

I think this might be a systematic issue with Jessie being older.
@nuclearsandwich @mikaelarguedas FYI

[2017-11-20 22:02] tfoote commented on #61
It looks like this is an issue with older openjdk7 versions: https://github.com/gradle/gradle/issues/2421

Travis was tracking this and then closed it: https://github.com/travis-ci/travis-ci/issues/8503

I found there's a pretty ugly workaround here to inject the EC parameter support: https://github.com/eseifert/gral/commit/c24e08a91952a99b8c8b686a1b172335db8cdf87

[2017-11-22 13:45] jubeira commented on #61
Hi @tfoote, thanks for reporting this.
We've checked this out with @ernestmc, and apparently there might be a problem with the encryption algorithm in that URL `https://services.gradle.org/distributions/gradle-2.14.1-all.zip`, which changed recently and may not be supported by old JDKs as you point out.

Which version of OpenJDK are you using in the build? I just tried installing rosjava from sour

[2017-11-22 15:39] nuclearsandwich commented on #61
@jubeira from the logs it looks like openjdk-7-jdk_7u151-2.6.11-1~deb8u1_amd64.deb is being installed on in the buildfarm container as well. Are you able to reproduce the issue if you use the ros_buildfarm scripts? I'll try and give it a shot later as well.

[2017-11-22 16:19] jubeira commented on #61
@nuclearsandwich no, I haven't, but it will be interesting to try indeed. I will give it a shot later too.

[2017-11-22 17:54] jubeira commented on #61
I just realized that my `$JAVA_HOME` environment variable was pointing to `java-8-oracle` in my Ubuntu 14, even though `java -version` yielded openJDK 7, and apparently Gradle uses that environment variable at some point. If I unset that variable, my build fails too. So the conclusion for now is that the issue is with OpenJDK 7 indeed, but not with Oracle's JDK.

[2017-11-22 18:24] nuclearsandwich commented on #61
Did you test with Oracle's JDK 7, because JDK 8 whether open or otherwise would have the updated crypto protocols.

[2017-11-22 18:25] ernestmc commented on #61
I tried this on a clean Ubuntu 14.04 docker and was able to reproduce the error. As @jubeira points out either `java-8-oracle` or `openjdk-8-jdk` provide the libraries needed for the cryptographic algorithm.
One proven solution on Ubuntu 14.04 is the following:
1. Install `openjdk-8-jdk` from this ppa:
[code]
2. Modify the environment variable to use the libraries from this jdk:
[code]
I have not

[2017-11-22 18:51] jubeira commented on #61
Sorry for the confusion, I meant Oracle JDK 8 which was the version I had installed.
I just tried to download Oracle's JDK 7 but it's no longer available from Oracle's official `ppa`s. Right now, it seems that it's more straightforward to go with @ernestmc's solution.

[2017-11-22 19:14] nuclearsandwich commented on #61
Installing openjdk 8 on Jessie would require enabling the jessie-backports repository and either changing the `java` rosdep key or adding one for specifcially for java8.

[2017-11-22 20:57] jubeira commented on #61
@tfoote can that be done, or is it too complicated / considered bad practice?

[2017-11-22 21:08] tfoote commented on #61
That's quite intrusive and potentially has a lot of potential side effects on other users.

Two other options might be to download/install the jdk8 into the rosjava_bootstrap repo and export the JAVA home.

Alternatively it could be declared that rosjava can't support Jessie due to lack openjdk support and we just disable the builds for Jessie.

[2017-11-22 21:32] jubeira commented on #61
Well, in this case the only problem seems to be downloading the Gradle distribution. Placing the binary for Gradle and modifying the URL should do too, but I'd rather avoid placing binaries here.

As for Jessie, perhaps then it's wiser to drop its support now. We could announce this in ROS Discourse to check if anyone was using it, but I don't really think many people actually do.

I already updat

[2017-11-23 13:36] ernestmc commented on #61
I agree that dropping support for Rosjava on Debian Jessie would be the way to go. There's always the option to build from sources and we can point this for the affected users.

[2017-11-29 23:00] tfoote commented on #61
I have submitted it to be blacklisted on Jessie: https://github.com/ros-infrastructure/ros_buildfarm_config/pull/101

[2017-11-29 23:00] #61 closed, assigned to nobody

[2017-11-30 12:20] jubeira commented on #61
Thanks for taking care of this @tfoote !

[2018-03-04 15:17] gavanderhoorn commented on #16
Not a proper fix at all, but at least a work-around: as I had quite some bags that contained messages published by rosjava publishers where I ran into the exception reported in ros/common_msgs#20, I went for the nuclear option and wrote something that replaces the msg defs in connection headers in bag files with completely expanded ones.

The message definitions obviously need to be available (and

[2018-09-01 11:33] fmessmer opened #71 "generate java code for actions in same source workspace"
I'm very happy to see the PRs provided by @exo-core wrt. code generation for action files...
we've recently been hacking around this, too, without finding a satisfying solution

the current `kinetic` branch works with actions which are already released (although, I think this is because the msg files generated for each action can be found in the `msg` folder within the respective pkg under `/opt/r

[2018-09-01 11:48] exo-core commented on #71
Hi @fmessmer ,

I sometimes had issuies because the generated `*.jar` files were empty for some packages when building them with `catkin_make`, but I never really looked much into it... I was also playing around with quite some VM's and older ROS versions because I was trying to compile a version of my messages that I could use on our KUKA Sunrise Cabinet (Windows + Java 1.6 :unamused:), so I'm no

[2018-09-01 12:48] fmessmer commented on #71
Thanks for your reply @exo-core
So, you are saying that the build is not 100% reliable? - could be some dependency/race condition...

I've prepared a small demo repo that we could use for discussion:
https://github.com/fmessmer/helloworld_rosjava_messages

Some details about my setup:
 - `uname -v`: # 36~16.04.1-Ubuntu SMP Wed Aug 15 17:21:05 UTC 2018
 - ROS Kinetic (I don't have anything installe

[2018-09-01 13:41] fmessmer commented on #71
Experimenting some more:
(to reproduce set up a workspace based on the `.travis.rosinstall` file included in https://github.com/fmessmer/helloworld_rosjava_messages)

**Test1**: https://github.com/fmessmer/helloworld_rosjava_messages/tree/a45530618642966b327a0e36608a7328a4023a51:
using `catkin build`, all java files (6 files per action) are nicely generated for `HelloWorld.action` (they can be fou

[2018-09-03 12:06] exo-core commented on #71
Hi @fmessmer,

I've tried to reproduce your example. What I did:

1. Created a new workspace called `test_ws`
2. `cd test_ws`
3. Ran `rosinstall src https://raw.githubusercontent.com/fmessmer/helloworld_rosjava_messages/master/.travis.rosinstall`
4. Cloned your repository to `test_ws/src/helloworld_rosjava_messages`
5. Executed `catkin build`

After that I checked `test_ws/devel/share/maven/org/ro

[2018-09-03 20:42] fmessmer commented on #71
@exo-core
you are right...it seems to work as long as `ROS_MAVEN_DEPLOYMENT_REPOSITORY``is not set...
(maybe the location is hard-coded at some lines of code so this feature cannot be used correctly to freely specify the maven target destination)

let me have another look at this...but it won't be before Wednesday

[2018-09-04 20:03] fmessmer commented on #71
hmm, I can't get it to work...but I don't think it's (just) the message generation for actions...

here is what I found out:
as long as `ROS_MAVEN_DEPLOYMENT_REPOSITORY` is not set (or set to `.../devel/share/maven` both the jar and the pom files are generated correctly under `.../devel/share/maven/...`
I also managed to redirect my local maven repository (default: `~/.m2/repository`) to the same

[2018-09-14 17:58] fmessmer commented on #71
I think I found a solution for my problem....

[2018-09-14 17:58] #71 closed, assigned to nobody

[2018-09-15 14:17] fmessmer commented on #71
in case anyone is interested...
these are the changes I did on our forks:
https://github.com/rosjava/genjava/pull/18
https://github.com/rosjava/rosjava_build_tools/pull/37

[2018-09-25 08:33] fmessmer opened #74 "install tags are wrong"
I get the following error from our TravisCI job.
It's compiling (rosjava) workspaces via `catkin build` with "install" option activated (i.e. `catkin config --install`)

[code]

the respective [install tag](https://github.com/rosjava/rosjava_bootstrap/blob/kinetic/CMakeLists.txt#L22-L23) is
[code]

there seems to be a discrepancy for `CATKIN_DEVEL_PREFIX` between `catkin_make` and `catkin-tools`:

[2018-10-09 08:35] fmessmer commented on #74
does it actually make sense to install the maven artifacts?
I guess they could also be removed as they will be found via the `ROS_MAVEN_*` environment variables

[2018-11-01 19:39] jubeira commented on #74
Hi @fmessmer, sorry for the delay; I've been out for some weeks.

I'm not very into the details of these subtle differences between `catkin_make` and `catkin tools`.
Just to have a heads up before testing this, will this change affect users using `catkin_make`?

[2018-11-20 10:32] ramonss commented on #16
Is there any update on this issue? A permanent fix would be greatly appreciated. Currently, I've been having to use the rosbag_fixer quite often (strangely I do not always have the problem) when recording topics with different types of nodes (rosjava and non-rosjava nodes).

[2018-11-20 12:31] gavanderhoorn commented on #16
I don't believe there has been any development to fix this. As @stonier writes in his comment above, `rosjava` itself must be changed for this.

[2018-11-21 07:53] ramonss commented on #16
Thanks for the reply. Is there any planned update for rosjava itself? I think the current bug compromises the compatibility with non-rosjava nodes, since recording ros topics into bag files is a very basic ros feature and extensively used for testing purposes.

[2018-11-21 07:56] gavanderhoorn commented on #16
I'm just a user, like you :)

Dependent on the rosjava gods.

[2018-11-21 13:19] jubeira commented on #16
hi @ramonss,

Rosjava is currently developed mainly by its community; there are no developers working full time or part time on it that I know of. If you need this feature, feel free to submit a PR; I'll review it as soon as I can. If it's something that adds new features and doesn't have too much risk of breaking the existing codebase it will be merged rather fast. I've been pretty packed up late

[2018-12-27 09:24] csyang6052 opened #78 "Could not find method google() for arguments [] on repository container"
I tried to build a rosjava package using the "catkin_create_rosjava_pkg" command.

FAILURE: Build failed with an exception.
* Where:
Script 'https://github.com/rosjava/rosjava_bootstrap/raw/kinetic/buildscript.gradle' line: 44
* What went wrong:
A problem occurred evaluating script.

My setup :
ROS - kinetic
android-studio - 3.2.1
gradle - 4.6
Android/Sdk/build-tools - 25.02, 26.02, 28.03

[2018-12-31 12:30] jubeira commented on #78
Hi @csyang6052, thanks for the report.
This is because of the changes introduced in https://github.com/rosjava/rosjava_bootstrap/pull/73. I just tested the command and I didn't have this problem. Did you install `rosjava_build_tools` from source or from debians? You will need to update them for this to work properly. I still haven't released `rosjava_build_tools` as a debian package, so you will n

[2019-01-01 08:36] csyang6052 commented on #78
Hi @jubeira , many thanks, it works for me now.

[2019-01-01 08:36] #78 closed, assigned to nobody

[2019-01-17 00:32] wmmc88 opened #79 "Outdated buildToolsVersion in ros-android gradle plugin"
When applying the ros-android gradle plugin, I get the following warning from Android Studio:

`WARNING: The specified Android SDK Build Tools version (25.0.2) is ignored, as it is below the minimum supported version (28.0.3) for Android Gradle Plugin 3.2.1.
Android SDK Build Tools 28.0.3 will be used.
To suppress this warning, remove "buildToolsVersion '25.0.2'" from your build.gradle file, as ea

[2019-01-17 00:35] wmmc88 commented on #79
Is it because https://github.com/rosjava/rosjava_bootstrap/blob/kinetic/buildscript.gradle#L42 is a dead link?

[2019-01-17 12:47] jubeira commented on #79
Hi @wmmc88, thanks for the observation.

That part was actually fixed here: https://github.com/rosjava/rosjava_bootstrap/pull/73, but I think the problem is that the Maven repository has not been updated yet (see https://github.com/rosjava/rosjava_mvn_repo/issues/63).

I'll update Maven repo with the latest `rosjava_bootstrap`.

[2019-01-17 18:31] wmmc88 commented on #79
resolved by https://github.com/rosjava/rosjava_mvn_repo/pull/64

[2019-01-17 18:31] #79 closed, assigned to nobody

[2019-01-17 21:02] wmmc88 commented on #79
@jubeira not sure if related but after the pr, I could no longer convert the rostime to seconds anymore and cant find the time class' javadoc. https://answers.ros.org/question/313059/rosjava-get-current-time/

[2019-01-18 15:17] jubeira commented on #79
@wmmc88 could you solve your problem with the time conversion? I can't see your question anymore.

[2019-01-18 15:32] wmmc88 commented on #79
Ye I'm not sure what it was, maybe my caches didn't update correctly or Smth but I got it fixed

[2019-03-15 18:59] jubeira commented on #42
Using Gradle 4.10 now.

[2019-03-15 18:59] #42 closed, assigned to nobody

[2019-06-03 11:39] krixkrix commented on #16
@gavanderhoorn: thanks for the rosbag_fixer script, it works for me on melodic.
What about adding an option to _rosbag record_ to use local defs? I would like to do it, but not sure if I am capable. Any hints?

[2019-06-03 11:45] gavanderhoorn commented on #16
Well, that would be adding a work-around for an issue local to `rosjava` to a tool that sees most of its usage outside rosjava contexts.

Unless there are other use-cases, I doubt the `rosbag` maintainers are going to accept something like that -- and I think I would agree with them.

[2020-05-08 13:30] zltnl opened #81 "https://github.com/rosjava/rosjava_mvn_repo/raw/master the page is gone"
how to do it ?

[2020-07-21 12:37] ravesteijnd commented on #16
I have created a fix [here](https://github.com/ravesteijnd/rosjava_bootstrap/tree/fix-child-headers).

I had trouble getting the child headers for dependencies outside of the current package during runtime, so I'm spawning a process for `rosrun roslib gendeps --cat` while generating the headers. This makes the generation of interfaces and belonging defintions very slow and forces a dependency on `